@page "/cadastro"
@rendermode InteractiveServer
@using AppPessoa.Models
@using AppPessoa.Services
@inject PessoaService pessoaService;
@inject NavigationManager navegacao;

<h3> Cadastro </h3>
<div> class= "container "
	<nav class="navbar navbar-light" style="background-color:darkgreen"></nav>
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">NOME</label>
		<label @bind="pessoa.Nome type="text" class="form_control"id="exampleFormControlInpult1" disabled="@campoBloqueado"></label>
	</div>
</div>
	

	
@code {
	private bool novo = false;
	private bool campoBloqueado = false;
	private Pessoa? pessoa = new Pessoa();
	private static int id = 0;

	public async Task Salvar()
	{
		pessoa.Id = ++id;
		await pessoaService.Add(pessoa);
		novo = true;
		campoBloqueado = true;
	}
	public void NovoRegistro()
	{
		novo = false;
		navegacao.NavigateTo("/cadastro", forceLoad: true);
	}
}

